<div class="container">
  <div class="row text-center" style="margin-top:2em;">
    <div class="col-lg-8">
      <a href="/"><%= image_tag('logo.png', :style => "width:100%;") %></a>
    </div>
    <div class="col-lg-4">
      <a href="https://www.facebook.com/iviu.torre" style="color:#c0253d;margin-left:1em;margin-right:1em;"><i class="fa fa-facebook fa-3x" aria-hidden="true" style="margin-top:2em;" id="social-icon"></i></a>
      <a href="https://www.instagram.com/iviu_torre/" style="color:#c0253d;margin-left:1em;margin-right:1em;"><i class="fa fa-instagram fa-3x" aria-hidden="true" style="margin-top:2em;" id="social-icon"></i></a>
      <a href="mailto:iviu.torre@gmail.com" style="color:#c0253d;margin-left:1em;margin-right:1em;"><i class="fa fa-envelope fa-3x" aria-hidden="true" style="margin-top:2em;" id="social-icon"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img1.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img2.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img3.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img4.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img5.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img6.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img7.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img8.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img9.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img10.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img12.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img11.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img13.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img14.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img15.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img16.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img17.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img18.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img19.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img20.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img21.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img22.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img23.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img24.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img25.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img26.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img27.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img28.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img29.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img30.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img31.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img32.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img33.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img34.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img35.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img36.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img42.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img38.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img39.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img40.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img41.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag('img37.JPG', :class => "photos") %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" style="text-align:justify;">
      <p>Born in Corsica on 21 March 1988, son of a mother painter and a father saddler-leather worker, my childhood I spend in a workshop in the colors of paintings and leather odors, leaving forever a sensitivity and attachment to all forms of creation and discovery. At the age of 17, I emancipated myself and I took flight for travels, meetings, all in all I spent ten years in the corners of the world, passing through London, Barcelona, ​​Orlando, New York, St. Bartholomew, Bangkok, Montreal, Toronto, Tokyo, Paris. Passionate about photography, I capture places, moments, the street, people, while leaving room for melancholy by the magic of the film.</p>
    </div>
     <div class="col-lg-6" style="text-align:justify;">
      <p>Né en Corse le 21 mars 1988, fils d’une mère artiste peintre et d’un père sellier-maroquinier, mon enfance je la passe dans un atelier aux couleurs de peintures et d’odeurs de cuir, laissant à jamais une sensibilité et un attachement à toutes les formes de création et d’ouvertures. À l’age de 17 ans je me suis émancipé et j’ai pris mon envol pour des voyages, des rencontres, voilà dix années que je les vis, en passant par Londres, Barcelone, Orlando, New-York, Saint-Barthélémy, Bangkok, Montréal, Toronto, Tokyo, Paris. Passionné de photographie, je capture des lieux, des instants, la rue, des gens, tout en laissant place à la mélancolie par la magie de l’argentique.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <a href="https://www.facebook.com/iviu.torre" style="color:#c0253d;margin-left:1em;margin-right:1em;"><i class="fa fa-facebook fa-3x" aria-hidden="true" style="margin:2em 0;" id="social-icon"></i></a>
      <a href="https://www.instagram.com/iviu_torre/" style="color:#c0253d;margin-left:1em;margin-right:1em;"><i class="fa fa-instagram fa-3x" aria-hidden="true" style="margin:2em 0;" id="social-icon"></i></a>
      <a href="mailto:iviu.torre@gmail.com" style="color:#c0253d;margin-left:1em;margin-right:1em;"><i class="fa fa-envelope fa-3x" aria-hidden="true" style="margin:2em 0;" id="social-icon"></i></a>
    </div>
  </div>
</div>